.row{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.fotos{
    border-radius: 8px;
    width: 30%;
}

.botonFav{
    margin: 10px;
}