.row{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.img{
    border-radius: 8px;
    width: 30%;
}
.botonFavtrue{
    margin: 10px;
    border-radius: 8px;
    background-color: rgb(61, 61, 255);
}

.botonFavfalse{
    margin: 10px;
    border-radius: 8px;
    background-color: rgb(148, 148, 255);
}