
.boton{
    background-color: green;
    color: white;
    border: none;
    border-radius: 8px;
    margin: 3px;
}

.buscador{
    display: flex;
}

input{
    width: 90%;
    margin: 5px;
}

select{
    margin: 5px;
}
